.random-planet{
  min-height: 528px;
  .card{
    border: none;
    min-width: 400px;
    .card-header{
      background: none;
    }
    .card-body{
      .list-group-item{
        display: flex;
        span{
          flex: 1;
        }
      }
    }
  }
}
