@font-face {
    font-family: 'DisturbedGalaxy';
    src: url('../assets/fonts/DISTGRG_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StarJedi';
    src: url('../assets/fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}